/* at first, fonts */
@font-face {
  font-family: "OfficinaSansBook";
  src:
    url("fonts/OfficinaSansBook.woff") format("woff"),
    url("fonts/OfficinaSansBook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OfficinaSansBold";
  src:
    url("fonts/OfficinaSansBold.woff") format("woff"),
    url("fonts/OfficinaSansBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  border-style: none;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "OfficinaSansBook", "Arial", sans-serif;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: #903333;
}

img.mfp-img {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #000;
}

.site-nav {
  width: 100%;
  max-width: 1200px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 50px auto 0 auto;
}

.site-link {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  text-align: center;
  font: 700 20px/25px "OfficinaSansBold" ,"Arial", sans-serif;
  margin: 0 auto;
}

.img-wrapper {
  margin: 55px auto 60px;
}

.img-wrapper img {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.author-top a {
  font-size: 17px;
}

.gallery-nav {
  margin-bottom: 64px;
}

.gallery-nav .site-link {
  margin: 7px auto;
  display: inline-block;
  padding-left: 22px;
}

.contacts-footer a:first-of-type {
  padding-left: 30px;
}

.site-link:last-of-type {
  margin-bottom: 30px;
}

.site-link:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-footer {
  margin-bottom: 20px;
}

.bio__list-toggle {
  margin-bottom: 30px;
  padding: 0;
  border: none;
  background-color: transparent;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  min-width: 90px;
}

.bio__list-title {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 25px;
}

.bio__list-toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bio__list-toggle svg {
  width: 15px;
  height: 15px;

  margin-left: 10px;

  -webkit-transition: all 0.2s ease-in-out;

  -o-transition: all 0.2s ease-in-out;

  transition: all 0.2s ease-in-out;
}

.bio__list-toggle:focus {
  outline: none;
}

.svg-revert {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}




.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.gallery,
.gallery>* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  padding-left: 0;

  COLOR: black;
  font-size: 1em;
}

.main-nav__list p {
  margin-top: 0;
}

.gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;

  list-style: none;

  margin-bottom: 50px;

  position: relative;
}

.gallery-item__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery-item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 45px;
  /* flex: 0 0 36%; */
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31%;
  flex: 0 0 31%;

  font-size: 16px;
}

.gallery-item__img-link {
  position: relative;
  z-index: 33;
  background: #ffffff;
}

.gallery-item__img-wrapper {
  position: relative;
}

.gallery-item__img-wrapper::after {
  position: absolute;
  width: 1px;
  height: 100%;
  display: block;
  content: '';
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  opacity: 0.8;
}

.gallery-item:last-of-type .gallery-item__img-wrapper::after {
  display: none;
}

.gallery-item__img-link img {
  max-width: 100%;

  max-height: 190px;

  height: auto;
  margin: 3px;
  position: relative;
  border: 2px solid #362788;
  overflow: hidden;
  z-index: 3333;
  -webkit-box-shadow: inset 0 0 0 4px #362788;
  box-shadow: inset 0 0 0 4px #362788;
  background-color: #903333;

  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.gallery-item__img-link img:after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% - 6px);
  height: calc(100% - 7px);
  border: 1px solid black;
  background-color: #ffffff;
}

.gallery-item__img-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  overflow: hidden;
}

.gallery-item__name p {
  margin-top: 5px;
  margin-bottom: 0;
}

.gallery-item__description p {
  margin-bottom: 0;
  margin-top: 8px;
}

.gallery-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 20px;

  font-size: 15px;
}

.site-widget {
  position: fixed;
  top: 30px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 999;
}

.to-index-link {
  font-size: 17px;
  color: #000;
  TEXT-DECORATION: none;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}

.site-widget a:hover {
  opacity: 0.6;
}

.gallery {
  margin-top: 50px;
}

.gallery-footer a:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  margin: 48px 13px 0;
  padding: 0 0 30px;
  list-style: none
}

.pagination__item:not(:first-child):not(:last-child) {
  margin: 0 2px 0 1px
}

.pagination__item:first-child {
  margin-right: 4px
}

.pagination__dir,
.pagination__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.pagination__link {
  display: block;
  padding: 4px 8px;
  min-width: 26px;
  border-radius: 13px/50%;
  text-decoration: none;
}

.pagination__link:focus,
.pagination__link:hover {
  opacity: 0.6;
}

.pagination__link--current,
.pagination__link--current:focus,
.pagination__link--current:hover,
.pagination__link:active {
  color: #323232;
  border: 1px solid #3f443f;
  text-decoration: none;
}

.pagination__dir {
  position: relative;
  display: block;
  width: 16px;
  height: 25px
}

.pagination__dir::after {
  position: absolute;
  top: 9px;
  width: 10px;
  height: 10px;
  content: "";
  border-top: 2px solid #fff;
  border-right: 2px solid #fff
}

.pagination__dir--prev::after {
  left: 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg)
}

.pagination__dir--next::after {
  left: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.pagination__dir--disabled {
  opacity: .2
}

.pagination-top {
  margin: 0 auto;
  padding: 0;
}


.author__img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 143px;
  width: 215px;
}

.author__img-link--horisontal {
  width: 143px;
  height: 215px;
}

.author__img-link img {
  border: 1px solid #000000;
}

.page-footer {
  max-width: 1400px;
  margin: 10px auto 30px;
  padding: 0 20px;
}

/*Главная*/
.promo__wrapper {
  margin: 50px auto auto;
  width: 700px;
}

.promo__wrapper img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.img-wrapper--main-page {
  margin: 40px auto 45px;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
}

/*стили для скролла*/
.scrollToTop {
  background: #373c43b0;
  position: fixed;

  width: 50px;
  height: 50px;

  left: 20px;
  bottom: 20px;

  color: #f8f8f8;
  font-size: 22px;
  margin: auto;

  display: none;

  z-index: 1000;
  padding: 0;

  border-radius: 50%;
}

.scrollToTop:hover {
  opacity: 0.8;
}

.flex-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.scrollToTop svg {
  fill: white;
  margin-top: -4px;
}

.hidden {
  display: none !important;
}

.toggle {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 15px 20px 15px 15px;
  background: 0 0;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  border-radius: 0;
  font-size: 0;
  line-height: 0;
  outline: none;
  cursor: pointer;
}

.toggle__btn {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 2px;
  vertical-align: bottom;
  background: #000000;
  -webkit-transition: background 0.7s 0.7s;
  -o-transition: background 0.7s 0.7s;
  transition: background 0.7s 0.7s;
}

.toggle__btn::after,
.toggle__btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  -o-transition: top 0.5s 0.5s, transform 0.5s;
  transition: top 0.5s 0.5s, transform 0.5s;
}

.toggle__btn::after {
  top: -8px;
}

.toggle__btn::before {
  top: 8px;
}

.main-nav--opened .toggle__btn::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.main-nav--opened .toggle__btn::after,
.main-nav--opened .toggle__btn::before {
  top: 0;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.5s;
  -o-transition: top 0.3s, transform 0.3s 0.5s;
  transition: top 0.3s, transform 0.3s 0.5s;
  width: 28px;
}

.main-nav--opened .toggle__btn::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.main-nav--opened .toggle__btn {
  background: 0 0;
  -webkit-transition: background 0.01s 0.01s;
  -o-transition: background 0.01s 0.01s;
  transition: background 0.01s 0.01s;
}

.main-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-nav--opened .main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Страница автора*/
.author {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.author-bio {
  margin-top: 60px;
}

.contacts-link {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 10px;
  font-family: "OfficinaSansBold", "Arial", sans-serif;
}

.gallery-link {
  position: absolute;
  right: 0;
  top: 35px;
}

.link-withArrow {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-family: "OfficinaSansBold", "Arial", sans-serif;
}

.link-withArrow svg {
  fill: #962420
}

.link-withArrow span {
  margin-left: 4px;
}


.author__top {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 44px;
}

.author__main-info,
.author__bio,
.author__main-gallery,
.page-footer .author__link {
  width: 100%;
  max-width: 1156px;
  font-size: 15px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.author__main-info p {
  font-size: 1.1em;
  margin-bottom: 25px;
}

.author__main-info h2 {
  max-width: 360px;
  margin-top: 4px;
  margin-bottom: 0;
  font-family: "OfficinaSansBold", "Arial", sans-serif;
}

.author__main-link-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-right: 25px;
  margin-top: 9px;
  margin-bottom: 5px;
}

.author__main-info-link {
  position: absolute;
  bottom: -26px;
  font-weight: 600;
  font-size: 15px;

  padding-left: 0;
  text-transform: uppercase;
}


.bio__list {
  display: none;

  margin-top: 0;
  list-style: none;
  padding-left: 0;
  font-size: 15px;
  margin-bottom: 30px;
}

.bio__list,
.bio__list-toggle-text {
  font-size: 1.1em;
}

.img-wrapper--gallery-page {
  margin: 26px auto 20px;
}

.author__gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.author__img-link {
  margin-bottom: 20px;
}

/*Контакты*/
.img-wrapper--contacts-bottom {
  margin-bottom: 30px;
  margin-top: 60px;
}

.img-wrapper--contacts {
  margin: 40px auto 30px;
}

.contacts__wrapper {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;

  font-size: 1.1em;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-footer a:not(:last-of-type) {
  margin-bottom: 12px;
}

.contacts a:not(.to-index-link):hover {
  opacity: 0.8;
}

.contacts__phones a:last-of-type {
  margin-top: 6px;
  display: inline-block;
}

.contacts__phones a,
.contacts__email a {
  display: inline-block;
}

.contacts__phones a:after,
.contacts__email a:after {
  background-color: #962420;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.contacts__phones a:hover:after,
.contacts__phones a:focus:after,
.contacts__email a:hover:after,
.contacts__email a:focus:after {
  width: 100%;
}

.contacts__address {
  margin: 27px 0;
}


/*убираем верхний отступ в Галерее*/
.current-page-link {
  position: absolute;
  top: 21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-family: "OfficinaSansBold", Arial, sans-serif;
}

.hidden {
  display: none;
}



/* первый медиа-запрос */
@media(min-width: 769px) and (max-width: 968px) {
  .gallery-item__name,
  .gallery-item__img-wrapper,
  .gallery-item__description {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
  }

  .gallery-item__description {
    margin-left: 0;
  }

  .gallery-item__name {
    margin-right: 0;
  }

  .gallery__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .gallery-item__img-wrapper {
    margin: 0 22px;
  }

  .gallery-item__description p {
    max-width: 200px;
  }
}

@media (min-width: 968px) {
  .author .main-nav__list {
    display: none !important;
  }

  .current-page-link {
    display: none;
  }

  .toggle {
    display: none;
  }

  .main-nav--no-js .main-nav__list,
  .main-nav--opened .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .gallery-item__name b {
    text-align: right;
    max-width: 250px;
  }

  .main-nav--no-js .main-nav__list,
  .main-nav--opened .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 450px) {
  .author .gallery-nav {
    margin-bottom: 0;
  }

  .author--page-link {
    display: none;
  }

  .author__main-info {
    margin-top: 15px;
  }
}



@media (max-width: 1365px) {
  .author__gallery-list {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }

  .author__gallery-list--horisontal {
    grid-template-columns: repeat(auto-fit, minmax(143px, 1fr));
  }

  .author__gallery-list:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .author__img-link {
    margin-bottom: 0;
  }

  .page-footer {
    margin: 30px auto;
  }
}

@media (max-width: 968px) {
  .site-nav {
    margin: 0 auto;
  }

  .main-nav__list p {
    margin-top: 1em;
  }

  .gallery-item__name b {
    text-align: right;
  }

  .main-nav--no-js .main-nav__list,
  .main-nav--opened .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    justify-content: space-around;
  }

  .main-nav__list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .site-link:last-of-type {
    margin-bottom: 0;
  }

  .gallery-link {
    display: none;
  }

  .contacts-link {
    top: 54px;
  }

  .author__main-info-link {
    bottom: -24px;
  }

  .main-nav--opened .main-nav__list .site-link:first-of-type {
    margin-top: 50px;
  }
}

@media (max-width: 800px) {
  .promo__wrapper {
    max-width: 620px;
    width: 100%;
  }

  .author__img-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .contacts-link {
    position: relative;
    top: initial;

    color: #962420;
  }

  .contacts-link svg {
    display: none;
  }

  .author__main-info h2 {
    margin-bottom: 12px;
  }

  .gallery {
    margin-top: 25px;
  }

  .gallery-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .gallery-item__img-wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .gallery-item__name {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .gallery-item__description {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin: 0 0 10px 0;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .gallery-item__description p {
    margin-top: 0;
  }

  .gallery-item__img-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 12px;
  }

  .gallery-item__img-link img {
    max-width: 500px;
    max-height: 220px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .gallery-item__img-wrapper::after {
    display: none;
  }

  .gallery-item:not(:last-of-type):after {
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 120 120' version='1.1' xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='000000'%3E%3Ccircle cx='60' cy='60' r='50'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    bottom: -30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
  }

  .author__main-info {
    font-size: 15px;
  }
  .bio__list {
    font-size: 15px;
  }

  .mfp-arrow {
    height: 110px !important;
    top: calc(50% - 100px/2) !important;
    margin-top: 0 !important;
    width: 90px !important;
  }

  button.mfp-arrow:hover {
    background-color: transparent;
  }

  .mfp-arrow:before,
  .mfp-arrow:after {
    margin-top: 35px !important;
    top: 0 !important;
    margin-left: 35px !important;
    margin-right: 0 !important;
  }

  .mfp-close {
    width: 30px !important;
  }
}

@media (max-width: 500px) {
  .author {
    padding: 0 15px;
  }
  .page-footer {
    margin-top: 12px;
  }
  .author__link {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bio__list {
    margin-bottom: 22px;
  }
  .author__gallery-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .author__img-link {
    width: 100%;
    height: auto;
  }

  .author__main-link-img {
    margin-bottom: 5px;
  }
}

@media (max-width: 450px) {
  .gallery-nav {
    margin-bottom: 64px;
  }

  .contacts__wrapper {
    font-size: 1em;
  }
}

@media (max-width: 420px) {
  .author__img-link {
    width: 100%;
  }

  .author__gallery-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .author__main-link-img {
    float: none;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 310px;
    margin-bottom: 9px;
  }

  .author__main-link-img img {
    width: 100%;
    max-width: 100%;
  }

  .author__main-info h2 {
    text-align: center;
    margin: 10px auto 12px;
  }

  .contacts-link {
    justify-content: center;
  }

  .author__text {
    margin-top: 9px;
  }
}



/*стили для крестика magnific-popup*/
.mfp-figure .mfp-close {
  display: none !important;
}

.mfp-close {
  font-family: "OfficinaSansBook", "Arial", sans-serif !important;
  font-weight: 100 !important;
  font-size: 0 !important;
  background-image: url('svg/cross-out.svg') !important;
  min-height: 44px !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  background-size: contain !important;
  right: 25px !important;
  height: auto !important;
  line-height: 0 !important;
  top: 25px !important;
  z-index: 1111111 !important;
  cursor: zoom-out !important;
}

.mfp-figure:after {
  display: none !important;
}

img.mfp-img {
  padding: 0 !important;
  margin: 50px auto !important;

  /*// новое правило 09.08.19*/
  max-height: 80vh !important;
}

@media (max-height: 620px) {
  img.mfp-img {
    padding: 13px 0 0 !important;
    max-height: 75vh !important;

    margin: 40px auto !important;
  }

  .mfp-bottom-bar {
    margin-top: -28px !important;
  }

  .mfp-close {
    min-height: 30px !important;
  }
}

@media (max-height: 520px) {
  img.mfp-img {
    max-height: 70vh !important;
    margin: 32px auto 40px !important;
  }
}

.mfp-counter {
  font-family: "OfficinaSansBook", "Arial", sans-serif !important;
  font-size: 19px !important;
  font-weight: 300;
}

.mfp-arrow {
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
  width: 160px !important;
}

button.mfp-arrow:focus {
  background-color: transparent;
}

@media (min-width: 1300px) {
  button.mfp-arrow:hover {
    background-color: rgba(104, 104, 104, 0.8);
  }
}

.mfp-arrow:before,
.mfp-arrow:after {
  margin-top: 0 !important;
  top: 46% !important;
}

.mfp-arrow-right:before,
.mfp-arrow-right:after {
  margin-left: 70% !important;
}

.mfp-arrow-left:before,
.mfp-arrow-left:after {
  margin-right: 0 !important;
  margin-left: calc(100% - 70% - 20px) !important;
}


@media (max-width: 570px) {
  .mfp-close {
    right: 12px !important;
    top: 12px !important;
  }

  .mfp-counter {
    font-size: 16px !important;
  }
}

@media (max-width: 900px) {
  .mfp-arrow-left {
    -webkit-transform-origin: left !important;
    -ms-transform-origin: left !important;
    transform-origin: left !important;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: right !important;
    -ms-transform-origin: right !important;
    transform-origin: right !important;
  }
}

/* Подгоняем картинку галереи на мобилках под нужный размер*/
@media (max-width: 550px) {
  .gallery__wrapper img {
    max-width: 90%;
    margin: 0 auto 36px auto;
  }
}

@media (max-width: 768px) {
  .gallery__wrapper {
    margin-top: 0;
  }
  .gallery-item__name b {
    text-align: center;
    max-width: 320px;
  }
}
